@import '../../../../styles/variables.scss';

.button {
  font-size: 40px;
  line-height: 60px;
  color: black;
  background-color: white;
  border-radius: 50%;

  &__element {
    font-size: 40px;
  }
}
