@import '../../../../styles/variables.scss';

.button {
  font-size: 40px;
  line-height: 60px;
  color: black;
  background-color: white;
  outline: none;
  border-radius: 50%;

  &[disabled] {
    opacity: 0.5;
  }
}
