@import '../../../../styles/variables.scss';

.table-wrapper {
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
}

.table {
  width: 100%;

  &__cell {
    position: relative;
    padding: 15px 10px;

    &_header {
      &:hover .table__item-hover-content {
        top: 0;
      }
    }

    &_header-picker {
      box-sizing: border-box;
      max-width: 160px;
      width: 160px;
      padding: 0 5px;
    }

    &_mark {
      text-align: center;
    }
  }

  &__cell-item {
    display: block;

    &_text_center {
      text-align: center;
    }
  }

  &__item {
    &_input-date-picker {
      box-sizing: border-box;
      width: 80px;
      margin-top: 5px;
      text-align: center;
      border: 0;
      outline: 0;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__item-hover-content {
    position: absolute;
    top: -100px;
    box-sizing: border-box;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px 2px;
    font-size: 15px;
    color: white;
    background-color: #737373;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 3px black;
    transition: box-shadow .6s, top .6s;

    &:hover {
      box-shadow: 0 -1px 5px black;
    }

    &:active {
      box-shadow: none;
    }
  }
}
