<div class="content">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let header of config.headers">
      <ng-container matColumnDef="{{header.value}}" [sticky]="header.sticky ? true : null">
        <th
          class="table__cell table__cell_header"
          [class.table__cell_header-picker]="header.datePicker"
          mat-header-cell
          mat-sort-header
          [start]="header.isAscSortStart ? 'asc': 'desc'"
          [disabled]="header.sort ? null : false"
          *matHeaderCellDef
        >
          <ng-container *ngIf="header.datePicker; else value">
            <input
              class="table__item table__item_input-date-picker"
              matInput
              [formControl]="header.inputControl"
              [matDatepicker]="datePicker"
              [min]="header.min"
              [max]="header.max"
              (dateChange)="onDateChange($event)"
            />
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker disabled="false"></mat-datepicker>
          </ng-container>

          <ng-template #value>
            <span>{{ header.isVisible ? header.value : '' | titlecase }}</span>
          </ng-template>
        </th>

        <td
          *matCellDef="let cell"
          mat-cell
          class="table__cell"
          [class.table__row_mark]="cell[header.value].editCell"
          appEditMark
          [editMarkConfig]="cell[header.value].editCell"
          [column]="header.value"
          [row]="cell.id.value"
          (changeMark)="onChangeMark($event)"
        >
          <ng-container *ngIf="cell[header.value].isExternal; else valueContent">
            <ng-container *ngTemplateOutlet="external"></ng-container>
          </ng-container>

          <ng-template #valueContent>
            <span> {{ cell[header.value].value | main : cell[header.value].pipe : cell[header.value].pipeArgs }} </span>
          </ng-template>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: columnHeaders"></tr>
  </table>
</div>
