@import '../../../../styles/variables.scss';

.table-wrapper {
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
}

.table {
  width: 100%;

  &__cell {
    padding: 15px 10px;

    &_header-picker {
      box-sizing: border-box;
      max-width: 160px;
      width: 160px;
      padding: 0 5px;
    }

    &_mark {
      text-align: center;
    }
  }

  &__cell-item {
    display: block;

    &_text_center {
      text-align: center;
    }
  }

  &__item {
    &_input-date-picker {
      box-sizing: border-box;
      width: 80px;
      margin-top: 5px;
      text-align: center;
      border: 0;
      outline: 0;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
