@import '../../../../styles/variables.scss';

.content {
  box-sizing: border-box;
  max-width: $max-table-width;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  border-radius: 5px;
}

.table {
  width: 100%;

  &__cell {
    padding: 17px 10px;

    &_header-picker {
      box-sizing: border-box;
      max-width: 160px;
      width: 160px;
      padding: 0 5px;
    }
  }

  &__row {
    &_mark {
      text-align: center;
    }
  }

  &__item {
    &_input-date-picker {
      box-sizing: border-box;
      width: 80px;
      margin-top: 5px;
      text-align: center;
      border: 0;
      outline: 0;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
