@import '../../styles/variables.scss';

.header {
  display: flex;
  flex-flow: column;
  padding: 10px 20px;

  &__logo-wrapper {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
  }

  &__title {
    order: 2;
    margin: 0;
  }

  &__logo {
    order: 1;
    height: 80px;
    width: 80px;
    background-color: $project-color;
  }

  &__panel {
    margin-top: 30px;
  }
}
