@import '../../../../styles/variables.scss';

.form {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;

  &__column {
    width: 100%;
    color: black;
  }

  &__row {
    &_button {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
    }
  }

  &__button {
    width: 49%;
  }

  &::ng-deep .button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 110%;
    color: white;
    background-color: #646464;
    border-radius: 4px;
  }
}
