<form
  id="{{ formConfig.id }}"
  class="form {{ formConfig.classes }}"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)"
>
  <div class="form__row" *ngFor="let item of formConfig.elements">
    <mat-form-field class="form__column">
      <mat-label>{{ item.label }}</mat-label>

      <ng-container [ngSwitch]="item.controlType">
        <input
          *ngSwitchCase="'input'"
          matInput
          class="{{ item.classNames.join(' ') }}"
          [formControlName]="item.key"
          type="{{ item.type }}"
          name="{{ item.key }}"
          placeholder="{{ item.placeholder }}"
        />
        <textarea
          *ngSwitchCase="'textarea'"
          matInput
          cdkTextareaAutosize
          class="{{ item.classNames.join(' ') }}"
          [formControlName]="item.key"
          name="{{ item.key }}"
          placeholder="{{ item.placeholder }}"
        ></textarea>
      </ng-container>
    </mat-form-field>
  </div>

  <div class="form__row form__row_button">
    <app-button
      class="form__button"
      *ngFor="let config of formConfig.buttons"
      [config]="config"
    >
      {{ config.value }}
    </app-button>
  </div>
</form>
