@import "../../../styles/variables";

.student {
  &__form {
    &::ng-deep .form{
      box-sizing: border-box;
      max-width: $max-table-width;
      width: 100%;
      margin: 0 auto;
      overflow: auto;
    }
  }
}
