<app-form [config]="config">
  <div class="form__wrapper-content">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput class="person-form__input person-form__input-name" type="text" name="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>LastName</mat-label>
      <input matInput class="person-form__input person-form__input-lastName" type="text" name="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput class="person-form__input person-form__input-address" type="text" name="address" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput class="person-form__textarea" name="description"></textarea>
    </mat-form-field>
  </div>
</app-form>
