@import './styles/variables';
@import './styles/fonts.scss';

body {
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: $project-background;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.mat-chip-list-wrapper {
  justify-content: space-around;;
}
