@import '../../../styles/variables.scss';

.panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  &__link {
    width: 25%;
    color: white;

    &_active {
      color: $project-color;
      opacity: 1;
    }
  }
}
