<nav mat-tab-nav-bar class="panel">
  <a
    mat-tab-link
    [routerLink]="['/students']"
    routerLinkActive="panel__link_active"
    #students="routerLinkActive"
    [active]="students.isActive"
    class="panel__link"
  >
    {{ "PANEL_APP.STUDENTS" | translate | titlecase }}
  </a>
  <a
    mat-tab-link
    [routerLink]="['/subjects']"
    routerLinkActive="panel__link_active"
    #subjects="routerLinkActive"
    [active]="subjects.isActive"
    class="panel__link"
  >
    {{ "PANEL_APP.SUBJECTS" | translate | titlecase }}
  </a>
  <a
    mat-tab-link
    [routerLink]="['/statistics']"
    routerLinkActive="panel__link_active"
    #statistics="routerLinkActive"
    [active]="statistics.isActive"
    class="panel__link"
  >
    {{ "PANEL_APP.STATISTICS" | translate | titlecase }}
  </a>
  <a
    mat-tab-link
    [routerLink]="['/export']"
    routerLinkActive="panel__link_active"
    #exportLink="routerLinkActive"
    [active]="exportLink.isActive"
    class="panel__link"
  >
    {{ "PANEL_APP.EXPORT" | translate | titlecase }}
  </a>
</nav>
