<article class="subject">
  <h2 class="subject__title">{{ subject.name | titlecase }}</h2>
  <section class="subject__content subject__content_table">
    <app-table
      class="subject__table"
      [config]="config"
      (headerChange)="onUpdateHeaders()"
      (dblclick)="onDeleteDateHeader($event)"
      (changeField)="onChangeMark($event)"
    >
    </app-table>
    <div class="subject__table-button-wrapper" *ngIf="config">
      <app-button
        class="subject__button subject__table-button subject__table-button_add"
        (click)="onAddDateHeader()"
      >
        Add
      </app-button>
    </div>
  </section>

  <section class="subject__content subject__content_form">
    <label class="subject__label">
      <span class="subject__label-title">Teacher:</span>
      <input class="subject__label-item" matInput type="text" [formControl]="teacherControl" />
    </label>
  </section>

  <app-button
    class="subject__button subject__button_save"
    [config]="saveButtonConfig"
    (click)="onSave()"
  >
    Save
  </app-button>
</article>
