.subject {
  display: flex;
  flex-flow: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    width: 45%;
    margin-bottom: 20px;

    &:nth-child(2n) {
      justify-content: flex-end;
    }
  }

  &__link {
    &::ng-deep .button {
      box-sizing: border-box;
      padding: 10px 15px;
      font-size: 19px;
      line-height: 110%;
      color: white;
      background-color: #646464;
      border-radius: 4px;
    }
  }

  &__button {
    &_center {
      align-self: center;
    }

    &_small {
      &::ng-deep .button {
        max-width: 30px;
        min-width: 10px;
        width: 30px;
        padding: 8px 0;
        font-size: 20px;
        line-height: 110%;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
